<ion-app>
<ion-content [fullscreen]="true">

  <div class="loginContent dashboard">

  <ion-button class="headButton" shape="round" disabled>SIGN UP</ion-button>

  <ion-card style="background-color:white; color: black;">

  <ion-card-content style="--ion-item-background: #FFFFF;">

  <div class="itemwrap">
    <ion-item class="shadow rounded" style="width: 50%;">
      <ion-label position="stacked">First Name:</ion-label>
      <ion-input type="text" [(ngModel)]="firstname"></ion-input>
    </ion-item>
    <ion-item class="shadow rounded" style="width: 50%;">
      <ion-label position="stacked">Last Name:</ion-label>
      <ion-input type="text" [(ngModel)]="lastname"></ion-input>
    </ion-item>
  </div>

    <ion-item class="shadow rounded">
      <ion-label position="stacked">Username:</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item class="shadow rounded">
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="shadow rounded">
      <ion-label position="stacked">Password:</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="shadow rounded">
      <ion-label position="stacked">Confirm Password:</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <a class="underlined" routerLink="/login">Already have an account?</a>


    <a class="loginButton" routerLink="/slider" (click)="launchHomePage()"><ion-button shape="round">SIGN UP</ion-button></a>
  </ion-card-content>
  </ion-card>

  </div>

</ion-content>

</ion-app>