ion-header{
    --ion-background-color: linear-gradient(#62A3F4, #3ED3DA);
    --ion-text-color: #ffffff;
}

.titleHeader{
    color: black;
    font-weight: 500;
    font-size: small;
    margin-left: 5vw;
}