<ion-app>

<ion-header>
  <ion-toolbar>
    <ion-title>CAMERA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--ion-background-color: white">

	<ion-img [src]="image"></ion-img>

<ion-card *ngIf="captureProgress == 0 || image==undefined">
<ion-card-header>
  <ion-card-title style="font-size: 15px;">
    Scan your Car Plate or input manually
  </ion-card-title>
</ion-card-header>
  
<ion-card-content>
<div class="subMenu">
  <div class="buttonList">
    <ion-grid>
      <ion-row>
        <ion-col class="buttonSet">
          <ion-fab-button (click)="captureImage()" color="dark" [disabled]="image!=undefined">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-label>Camera</ion-label>
        </ion-col>
        <ion-col class="buttonSet">
          <ion-fab-button routerLink="/manual" color="dark" [disabled]="image!=undefined">
            <ion-icon name="car-outline"></ion-icon>
          </ion-fab-button>
          <ion-label>Input Manually</ion-label>
        </ion-col>
        <ion-col class="buttonSet">
          <ion-fab-button (click)="recognizeImage()" [disabled]="!workerReady || image==undefined" color="dark">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
          <ion-label>Submit</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-card-content>
</ion-card>

  <ion-card *ngIf="workerReady && captureProgress > 0">
    <ion-card-header>
      <ion-card-title style="font-size: 15px;">
        Loading: {{ captureProgress }}%
        <ion-progress-bar value=" {{ captureProgress / 100 }} " buffer="0.5"></ion-progress-bar>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ ocrResult }}
      <div class="afterResult"  *ngIf="workerReady && captureProgress == 100">
        <div class="subMenu">
          <div class="buttonList">
            <ion-grid>
              <ion-row>
                <ion-col class="buttonSet">
                  <ion-fab-button (click)="captureImage()" color="dark">
                    <ion-icon name="camera-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-label>Retake</ion-label>
                </ion-col>
                <ion-col class="buttonSet">
                  <ion-fab-button (click)="manualImage(ocrResult)" routerLink="/manual" color="dark">
                    <ion-icon name="car-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-label>Input Manually</ion-label>
                </ion-col>
                <ion-col class="buttonSet">
                  <ion-fab-button (click)="confirmImage()" routerLink="/home" color="dark">
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-label>Submit</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" routerLink="/home" class="tabBorder">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="camera" routerLink="/camera" class="tabBorder">
    <ion-icon name="camera"  style="color: rgb(69, 137, 192)"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="map" routerLink="/map" class="tabBorder">
    <ion-icon name="map"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="account" routerLink="/account">
    <ion-icon name="person-circle"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

</ion-app>