<ion-app>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../../assets/img/slider1.png">
      <h1>Welcome</h1>
      <p>Welcome to the Park-A-Lot App. Make your parking experiences smoother with just a few steps.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/img/slider2.png">
      <h1>Take a picture</h1>
      <p>Take a picture of your license plate or manually key your license plate number.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/img/slider3.png">
      <h1>Track your car</h1>
      <p>Once your license plate number has been submitted to our database, its location will be updated in your homepage.</p>
      <ion-button fill="clear" routerLink="/home/user">Get Started <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
</ion-app>