<ion-app>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../../assets/img/slider1.jpeg">
      <h1>Welcome</h1>
      <p>Drive to the designed carpark</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/img/slider2.jfif">
      <h1>To get started</h1>
      <p>Scan or manually input your carplate</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/img/slider3.jfif">
      <h1>You're done</h1>
      <p>The dashboard will update your current parking status</p>
      <ion-button fill="clear" routerLink="/home/user">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
</ion-app>