<ion-app>
<ion-content [fullscreen]="true">

    <div class="welcome">
      <ion-title style="padding: 25px 0 0 20px; font-size: 25px;">
        Welcome <span id="username"></span>,
      </ion-title>
    </div>

    <div class="homeContent">

      <div class="subMenu">
      <div class="buttonList">
        <ion-grid>
          <ion-row>
            <ion-col class="buttonSet">
              <ion-fab-button routerLink="/camera" color="dark">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
              <ion-label>Camera</ion-label>
            </ion-col>
            <ion-col class="buttonSet">
              <ion-fab-button routerLink="/manual" color="dark">
                <ion-icon name="car"></ion-icon>
              </ion-fab-button>
              <ion-label>Manually</ion-label>
            </ion-col>
            <ion-col class="buttonSet">
              <ion-fab-button routerLink="/account/user" color="dark">
                <ion-icon name="person-circle"></ion-icon>
              </ion-fab-button>
              <ion-label>Account</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <ion-card class="dashboard" style="color: white;">
      <ion-card-header>
        <ion-card-title style="border-bottom: 2px solid white; padding: 3px;">Currently parked</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <div class="infoDisplay">
        Car Plate: <span id="carid"></span>
        <br>
        Location
        <br>
        Time
      </div>
      <div class="infoButton">
        <ion-button shape="round">Checkout</ion-button>
      </div>
    </ion-card-content>
    </ion-card>

    </div>

</ion-content>

<ion-tab-bar slot="bottom">
<ion-tab-button tab="home" class="tabBorder">
  <ion-icon name="home" style="color: rgb(69, 137, 192)"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="camera" routerLink="/camera" class="tabBorder">
  <ion-icon name="camera"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="map" routerLink="/map" class="tabBorder">
  <ion-icon name="map"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="account" routerLink="/account/user">
  <ion-icon name="person-circle"></ion-icon>
</ion-tab-button>
</ion-tab-bar>

</ion-app>