ion-content{
  --ion-background-color: linear-gradient(#62A3F4, #3ED3DA);
  --ion-text-color: #ffffff;
}

.welcome{
  min-height: 55%;
  font-size: x-large;
  width: 100%;
  margin: 0 0 0 5px;
}

ion-app{
  height: 100%;
  min-height: 100%;
}

.homeContent{
  background-color: white;
  color: black;
  height: 45%;
}

.subMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 15vh;
  min-width: 100%;
}

.buttonList{
  z-index: 1;
  margin-top: -50px;
}

.buttonSet{
  margin: 0 10px;
  font-size: x-small;
}

ion-card{
  margin-top: 30px;
}

.dashboard{
  min-height: 25vh;
  color: white !important;
}

.infoButton{
  float: right;
  margin-bottom: 5px;
}

ion-card{
  --ion-card-background: #5BB5DF;
}

.tabBorder{
  border-right: 2px solid white; 
  height: 35px;
}