.welcome{
  min-height: 50%;
  font-size: x-large;
  width: 100%;
  margin: 0 0 0 5px;
}

ion-app{
  height: 100%;
  min-height: 100%;
}

.homeContent{
  background-color: white;
  color: black;
  height: 50%;
}

.subMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 15vh;
  min-width: 100%;
}

.buttonList{
  z-index: 1;
  margin-top: -50px;
}

.buttonSet{
  margin: 0 10px;
  font-size: x-small;
}

.dashboard{
  min-height: 25vh;
  color: white !important;
}

.infoButton{
float: right;
margin-bottom: 5px;
}