ion-header{
    --ion-background-color: linear-gradient(#62A3F4, #3ED3DA);
    --ion-text-color: #ffffff;
}

.titleHeader{
    color: black;
    font-weight: 500;
    font-size: small;
    margin-left: 5vw;
}

.match-parent {
    width: 100vw;
    height: inherit!important;
    min-height: 100%;
}

.tabBorder{
    border-right: 2px solid white; 
    height: 35px;
}