.titleHeader{
    color: black;
    font-weight: 500;
    font-size: small;
    margin-left: 5vw;
}

ion-list{
    margin-left: 5vw;
}

.slidingItem{
    font-weight: 500;
    font-size: small;
    color: black;
}

.slidingItemInfo{
    font-size: small;
    color: black;
}

ion-item-sliding{
    margin-bottom: 8vw;
}

ion-item-sliding ion-item{
    --padding-start: 0px;
}

ion-item-sliding ion-item, ion-item-options ion-item-option{
    --border-style: none;
} 

.itemColor{
    width: 12px;
    height: 100%;
    margin-right: 16px;
}

.shadow{
    margin-bottom: 5px;
    box-shadow: 1px 2px #8888882d;
  }