<ion-app>

<ion-header>
  <ion-toolbar>
    <ion-title>ACCOUNT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--ion-background-color: white">

    <div class="titleHeader">
      <p>Account Details</p>
    </div>

    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(198, 245, 112);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">First Name: </div>
            <div class="slidingItemInfo"><span id="fnameTxt">insert firstname</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editFirstName(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(245, 172, 112);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">Last Name: </div>
            <div class="slidingItemInfo"><span id="lnameTxt">insert lastname</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editLastName(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(112, 245, 172);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">ID: </div>
            <div class="slidingItemInfo"><span id="nameTxt">insert name</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editID(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(112, 112, 245);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">Email: </div>
            <div class="slidingItemInfo"><span id="emailTxt">insert email</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editEmail(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(170, 112, 245);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">Contact Number: </div>
            <div class="slidingItemInfo"><span id="contactTxt">insert contact number</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editContact(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="shadow">
          <span class="itemColor" style="background-color: rgb(245, 112, 112);">&nbsp;</span>
          <ion-label>
            <div class="slidingItem">Password: </div>
            <div class="slidingItemInfo"><span id="passwordTxt">insert password</span></div>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option class="shadow" (click)="editPassword(item)">EDIT</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>


    <a routerLink="/login"><ion-button shape="round" expand="block">LOG OUT</ion-button></a>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" routerLink="/home/user" (click)=launchHomePage() class="tabBorder">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="camera" routerLink="/camera" class="tabBorder">
    <ion-icon name="camera"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="map" routerLink="/map" class="tabBorder">
    <ion-icon name="map"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="account">
    <ion-icon name="person-circle" style="color: rgb(69, 137, 192)"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

</ion-app>