<ion-app>
  <ion-content [fullscreen]="true">
 
          <div class="loginContent">
  
          <ion-card class="dashboard" style="background-color:white; color: black;">
            <ion-card-header>
              <ion-button shape="round" disabled>Log In</ion-button>
            </ion-card-header>
          <ion-card-content>
            <ion-item class="shadow rounded">
              <ion-label position="stacked">Email:</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item class="shadow rounded">
              <ion-label position="stacked">Password:</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>

            <ion-item class="container">
              <div class="underlined">
              <a routerLink="/register">Don't have an account?</a>
            </div>
            </ion-item>

            <a routerLink="/home"><ion-button shape="round">Log In</ion-button></a>
          </ion-card-content>
          </ion-card>
  
          </div>
  
  </ion-content>
  
  </ion-app>