<ion-app>
<ion-content [fullscreen]="true">

  <div class="loginContent dashboard">

  <ion-button class="headButton" shape="round" disabled>LOG IN</ion-button>

  <ion-card style="background-color:white; color: black;">

  <ion-card-content style="--ion-item-background: #FFFFF;">
      <form [formGroup]="form" (submit)="connectToDB()">
    <ion-item class="shadow rounded">
      <ion-label position="stacked">Username:</ion-label>
      <ion-input type="text" [(ngModel)]="userid" required formControlName="userid"></ion-input>
    </ion-item>

    <ion-item class="shadow rounded">
      <ion-label position="stacked">Password:</ion-label>
      <ion-input type="password" [(ngModel)]="userpassword" required formControlName="userpassword"></ion-input>
    </ion-item>

    <a class="underlined" routerLink="/register">Don't have an account?</a>

    <ion-button type="submit" class="loginButton" shape="round" [disabled]=form.invalid>LOG IN</ion-button>
  </form>
</ion-card-content>
  </ion-card>

  </div>

</ion-content>

</ion-app>